.ui {
  height: 100vh;
}

.close-nav {
  width: 0px;
}

.content {
  background: var(--app-light);
}

header {
  background: var(--app-darklight);
}

aside {
  background: var(--app-dark);
}

nav {
  width: 250px;
  transition: 500ms;
}

footer {
  background: var(--app-darklight2);
}
